.card {
    box-shadow: var(--simple-boxshadow);
    border-radius: 10px;
    padding: 20px 30px;
    background: var(--secondary);
}

.card .title {
    margin-bottom: 10px;
}

.card .grid {
    grid-row-gap: 10px;
}

.card-info {
    box-shadow: var(--simple-boxshadow);
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--secondary);
}

.card .title,
.card-info .data .title {
    color: var(--sub);
    font-weight: 400;
    font-size: .8rem;
}

.card-info .material-icons {
    font-size: 2rem;
    padding: 15px;
    color: #fff;
    background: var(--brand);
    border-radius: 15px;;
}