:root {
	--dark-primary: #12141d;
	--dark-secondary: #20222e;
	--dark-text: #fff;
}

/* Main */
.wrapper.dark {
	background-color: var(--dark-primary);
	color: var(--dark-text);
}

/* Sidebar */
.dark .sidebar {
	background: var(--dark-secondary);
}

/* Items */
.dark .simple-dropdown {
	background: var(--dark-secondary);
	position: absolute;
	right: calc(100% - 23px);
	border-radius: 15px;
	box-shadow: var(--simple-boxshadow);
	padding: 25px;
	top: calc(100% + 5px);
}