.sidebar {
	position: fixed;
	left: 0px;
	width: var(--sidebar-width);
	height: 100vh;
	background: var(--secondary);
	box-shadow: var(--simple-boxshadow);
	transition: background .3s ease, width .3s ease;
}

.sidebar .title {
	text-align: center;
	padding: 40px 20px;
	font-size: 1.7rem;
	font-weight: 400;
}

.sidebar .title:after {
	content: "";
	height: 1px;
	width: 90%;
	display: block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	top: 20px;
	background: var(--sub);
}

.sidebar .tab {
	display: flex;
	align-items: center;
	padding: 10px 15px;
	cursor: pointer;
	transition: color .3s ease;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	width: 70%;
}

.sidebar .tab.active {
	background: var(--brand) !important;
	color: #fff !important;
	box-shadow: var(--simple-boxshadow);
}

.sidebar .tab:hover {
	color: var(--brand);
}

.sidebar .material-icons {
	margin-right: 10px;
}